@import 'tailwindcss';

@theme {
  --color-kitty-dark: #171e27;
  --color-kitty-darker: #212b38;
  --color-kitty-light: #f8f8f2;
  --color-kitty-yellow: #ffffa5;
  --color-kitty-orange: #ffcb6b;
  --color-kitty-orange-light: #ffb86c;
  --color-kitty-orange-pale: #ffd580;
  --color-kitty-green-pale: #caffb5;
  --color-kitty-green: #94cf95;
  --color-kitty-green-dark: #79c07b;
  --color-kitty-blue: #6ec1d6;
  --color-kitty-blue-light: #9dcaf8;
  --color-kitty-pink: #f8b1c8;
  --color-kitty-pink-hot: #f692b2;
}
